h1 Tasks
- if(docs.length)
	table
		tr
			th Task
			th Action
				each task in docs
					tr
						td #{task.task}
						td
							a(href="/tasks/" + task.id + "/edit", class="btn pull-left") Edit
							form(action="/tasks/" + task.id, method="post") 
								input(name="_method", value="DELETE", type="hidden")
								button(type="submit", class="btn pull-left") Delete
- else
	p You have no tasks

a(href="/tasks/new", class="btn primary") Add a Task